<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container mt-5">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="mb-4">Fastar Playstation Store</h5>
                       
                        
                        <form method="POST" action="#" th:action="@{/product/pstore}" th:object="${product}">
                            <div class="form-group">
                                <label for="example-product-nama">Tuliskan nama product</label>
                                <input th:field="*{nama}" type="text" class="form-control" id="example-product-nama" aria-harga_productribedby="emailHelp" placeholder="Enter product nama product" required>
                                <small id="emailHelp" class="form-text text-muted">nama product minimal berisi 5 karakter.</small>
                            </div>
                            <div class="form-group">
                                <label for="example-product-harga">tuliskan harga product</label>
                                <textarea th:field="*{harga}" rows="3" class="form-control" id="example-product-harga" aria-harga_productribedby="emailHelp" placeholder="Enter product harga product"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Kamu dapat menuliskan harga product secara detail pada kolom ini.</small>
                            </div>
                             <div class="form-group">
                                <label for="example-product-stock">tuliskan stok product</label>
                                <textarea th:field="*{stock}" rows="3" class="form-control" id="example-product-stock" aria-harga_productribedby="emailHelp" placeholder="Enter product stock product"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Kamu dapat menuliskan stok product secara detail pada kolom ini.</small>
                            </div>
                            <div class="form-group">
                                <label for="example-product-jenis">tuliskan jenis product</label>
                                <textarea th:field="*{jenis}" rows="3" class="form-control" id="example-product-jenis" aria-harga_productribedby="emailHelp" placeholder="Enter product jenis product"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Kamu dapat menuliskan jenis product secara detail pada kolom ini.</small>
                            </div>
                              
                   
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>



        <div th:replace="includes/base  :: footer"></div>

        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>